body {
  font-family: Arial, sans-serif;
  background-color: beige;
  color: #333;
  margin: 20px;
}

h1, h2, h3 {
  color:midnightblue
}

nav {
  background-color:lightgrey;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

header, section, article {
  margin-bottom: 30px;
  padding: 10px;
  background-color:ghostwhite;
  border-radius: 5px;
}

.ContenedorFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 80%;
  height: auto;
}